
  #junk {
    font-size: 4px;
  }
  
  #parent {
    font-family: Helvetica,Arial,Verdana,sans-serif;
    width: 1000px;
    background-color: #13161a;
    padding-left:100px;
    padding-right:100px;
    padding-top:60px;
    padding-bottom:60px;
  }
  
  #parent * {
    font-size: inherit;
  }
